<%= form_with model: @stock, url: @stock.persisted? ? admins_stock_path(@stock) : admins_stocks_path, method: @stock.persisted? ? :patch : :post, local: true, class: "form" do |f| %>
  <div class="mb-3">
    <%= f.label :symbol %>
    <%= f.text_field :symbol, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= f.label :company_name %>
    <%= f.text_field :company_name, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= f.label :current_price %>
    <%= f.number_field :current_price, step: 0.01, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :price_change %>
    <%= f.number_field :price_change, step: 0.01, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :quantity %>
    <%= f.number_field :quantity, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :is_active %>
    <%= f.check_box :is_active %>
  </div>

  <%= f.submit "Save", class: "btn btn-success" %>
<% end %>
