<div id="<%= dom_id stock %>">
  <p>
    <strong>Symbol:</strong>
    <%= stock.symbol %>
  </p>

  <p>
    <strong>Company name:</strong>
    <%= stock.company_name %>
  </p>

  <p>
    <strong>Current price:</strong>
    <%= stock.current_price %>
  </p>

  <p>
    <strong>Price change:</strong>
    <%= stock.price_change %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= stock.quantity %>
  </p>

  <p>
    <strong>Is active:</strong>
    <%= stock.is_active %>
  </p>

</div>
